In [7]:
data1 = 9789649
data2 = 3647239

datat1 = 5764801
datat2 = 17807724

In [8]:
def transformation(number, s_number):
    return(number*s_number)%20201227

In [10]:
number = 1
n=8
for x in range(10**n):
    number = transformation(number,7)
    if number == data1:
        print(x+1,data1,number)
    if number == data2:
        print(x+1,number)
    if number == datat1:
        print(x+1, 'test1')
    if number == datat2:
        print(x+1, 'test2')

8 test1
11 test2
12387410 3647239
14587082 9789649 9789649
20201234 test1
20201237 test2
32588636 3647239
34788308 9789649 9789649
40402460 test1
40402463 test2
52789862 3647239
54989534 9789649 9789649
60603686 test1
60603689 test2
72991088 3647239
75190760 9789649 9789649
80804912 test1
80804915 test2
93192314 3647239
95391986 9789649 9789649

In [ ]:
12387410 3647239
14587082 9789649 9789649

In [13]:
#test
number = 5764801
for x in range(11):
    number = transformation(number,5764801)
    print(number)
print('2')
#test
number = 17807724
for x in range(8):
    number = transformation(number,17807724)
    print(number)

13239263
6286092
17588834
8144799
19339482
16501187
16669039
11273191
12070132
14897079
7340505
2
10847306
1914476
874663
5243202
8733831
1213104
14897079
12841067

In [15]:

number = 3647239
for x in range(14587082-1):
    number = transformation(number,3647239)
print(number)

number = 9789649
for x in range(12387410-1):
    number = transformation(number,9789649)
print(number)

8740494
8740494